@font-face {
    font-family: 'Archicoco Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Archicoco Regular'), url('Archicoco.woff') format('woff');
    }

body {
    background-color: #35654D;
    padding: 0;
    margin: 0;

    color: #FFA500;
    font-family:'Archicoco Regular'
}

h1 {
    text-align: center;
    color: #FFA500;
    font-size: 64pt;
    filter: drop-shadow(2px 2px 2px #000);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.row {
    border: 0px solid black;
}

.main-section {    
    background-color: rgba(0,0,0,.5);
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 400px;
}

.main-section h2{    
    margin: 0;
    padding: 0;
    padding-left: 15px;
    font-size: 28pt;
}

.sub-section {
    padding: 20px
}

.sub-section > h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 28pt;
    filter: drop-shadow(2px 2px 2px #000);
}

.cards-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.card {
    width: 100px;
    height: 153px;
    display: block;
}

.cards-range {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 15px;
    margin-top: 10px;
    height: 153px;
}

.cards-range-to {
    align-self: center;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 14pt;
}

.action-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #396C52;
    border-radius: 10px;
    margin: 5px;
}

.action-section-title {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.action-section-row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.cards-duo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
    margin-top: 10px;
}

.cards-duo {
    display: flex;
}

.cards-duo-appendix {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.tip {
    display: flex;
    width: 200px;
    height: 153px;
    background-color: rgba(255,255,255,0.3);
    font-size: 18pt;
    text-align: center;
    justify-content: middle;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    margin: 0 15px;
    color: #333;
    margin-top: 10px;
}

/*
    VARIANT 2
*/
table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

table tr:first-child {
    background-color:  #396C52;
}

th {
    min-width: 100px;
}

td {
    text-align: center;
}

.cards-spacer {
    align-self: center;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 14pt;
    min-width: 15px;
}