<div id="main">
    <h1 class="row">Poker hands to play</h1>
    <div class="row main-section">
        <h2>Early position</h2>
    </div>
    <div class="row sub-section">
        <h3>Under the gun</h3>
    </div>
    <div class="cards-row">
        <div class="cards-range">
            <img class="card" src="cards/AC.png" alt="" />
            <img class="card" src="cards/AD.png" alt="" />
            <div class="cards-range-to">to</div>
            <img class="card" src="cards/10C.png" alt="" />
            <img class="card" src="cards/10D.png" alt="" />
        </div>

        <div class="cards-range">
            <img class="card" src="cards/AC.png" alt="" />
            <img class="card" src="cards/KH.png" alt="" />
            <div class="cards-range-to">to</div>
            <img class="card" src="cards/AC.png" alt="" />
            <img class="card" src="cards/QD.png" alt="" />
        </div>

        <div class="tip">
            <div>
                Premium hands only
            </div>
        </div>
    </div>

    <div class="row sub-section">
        <h3>If someone has called</h3>
    </div>
    <div class="cards-row">
        <div class="action-section">
            <div class="action-section-title">Raise with</div>
            <div class="action-section-row">
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/8C.png" alt="" />
                        <img class="card" src="cards/8H.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">or above</div>
                </div>
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/AD.png" alt="" />
                        <img class="card" src="cards/JH.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">or better</div>
                </div>
            </div>
        </div>

        <div class="action-section">
            <div class="action-section-title">Call with</div>
            <div class="action-section-row">
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/8H.png" alt="" />
                        <img class="card" src="cards/7H.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">suited connectors</div>
                </div>
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/KD.png" alt="" />
                        <img class="card" src="cards/10D.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">suited high cards</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-section">
        <h3>If someone has raised</h3>
    </div>
    <div class="cards-row">
        <div class="action-section">
            <div class="action-section-title">Raise with</div>
            <div class="action-section-row">
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/QS.png" alt="" />
                        <img class="card" src="cards/QD.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">or above</div>
                </div>
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/AS.png" alt="" />
                        <img class="card" src="cards/KH.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row main-section">
        <h2>Middle position</h2>
    </div>
    <div class="row sub-section">
        <h3>If everyone has folded</h3>
    </div>
    <div class="cards-row">
        <div class="action-section">
            <div class="action-section-title">Raise with</div>
            <div class="action-section-row">
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/7D.png" alt="" />
                        <img class="card" src="cards/7S.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">or above</div>
                </div>

                <div class="cards-range">
                    <img class="card" src="cards/AD.png" alt="" />
                    <img class="card" src="cards/JS.png" alt="" />
                    <div class="cards-range-to">to</div>
                    <img class="card" src="cards/AC.png" alt="" />
                    <img class="card" src="cards/KH.png" alt="" />
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/QD.png" alt="" />
                        <img class="card" src="cards/10S.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">or above</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-section">
        <h3>If everyone has called</h3>
    </div>
    <div class="cards-row">
        <div class="action-section">
            <div class="action-section-title">Call with</div>
            <div class="action-section-row">
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/9D.png" alt="" />
                        <img class="card" src="cards/9C.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">up to</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/QC.png" alt="" />
                        <img class="card" src="cards/10D.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">or above</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/8D.png" alt="" />
                        <img class="card" src="cards/9D.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">suited connectors</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-section">
        <h3>If someone has raised</h3>
    </div>
    <div class="cards-row">
        <div class="action-section">
            <div class="action-section-title">Re-raise with</div>
            <div class="action-section-row">
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/10D.png" alt="" />
                        <img class="card" src="cards/10C.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">or above</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/AC.png" alt="" />
                        <img class="card" src="cards/KD.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">&nbsp;</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/AH.png" alt="" />
                        <img class="card" src="cards/QD.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">&nbsp;</div>
                </div>
            </div>
        </div>

        <div class="action-section">
            <div class="action-section-title">Call with</div>
            <div class="action-section-row">
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/JD.png" alt="" />
                        <img class="card" src="cards/10D.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">suited connectors</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/9C.png" alt="" />
                        <img class="card" src="cards/9D.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">and bellow</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row main-section">
        <h2>Late position</h2>
    </div>
    <div class="row sub-section">
        <h3>If everyone has folded</h3>
    </div>
    <div class="cards-row">
        <div class="action-section">
            <div class="action-section-title">Raise with</div>
            <div class="action-section-row">
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/2D.png" alt="" />
                        <img class="card" src="cards/2H.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">any pair</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/AD.png" alt="" />
                        <img class="card" src="cards/3D.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">any suited ace</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/AC.png" alt="" />
                        <img class="card" src="cards/7S.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">or above</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/KH.png" alt="" />
                        <img class="card" src="cards/10D.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">any cards ten or higher</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/4D.png" alt="" />
                        <img class="card" src="cards/5D.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">any suited connectors</div>
                </div>

                <div class="tip">
                    <div>
                        Raise or fold. Do not call in this position.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-section">
        <h3>If everyone has called</h3>
    </div>
    <div class="cards-row">
        <div class="action-section">
            <div class="action-section-title">Raise with</div>
            <div class="action-section-row">
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/10D.png" alt="" />
                        <img class="card" src="cards/10H.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">or above</div>
                </div>

                <div class="cards-range">
                    <img class="card" src="cards/AD.png" alt="" />
                    <img class="card" src="cards/JS.png" alt="" />
                    <div class="cards-range-to">to</div>
                    <img class="card" src="cards/AC.png" alt="" />
                    <img class="card" src="cards/KH.png" alt="" />
                </div>
            </div>
        </div>

        <div class="action-section">
            <div class="action-section-title">Call with</div>
            <div class="action-section-row">
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/2D.png" alt="" />
                        <img class="card" src="cards/2H.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">any pair</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/9D.png" alt="" />
                        <img class="card" src="cards/QD.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">suited nine or above</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/AC.png" alt="" />
                        <img class="card" src="cards/3C.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">any suited ace</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/4D.png" alt="" />
                        <img class="card" src="cards/5D.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">any suited connectors</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row sub-section">
        <h3>If someone has raised</h3>
    </div>
    <div class="cards-row">
        <div class="action-section">
            <div class="action-section-title">Re-raise with</div>
            <div class="action-section-row">
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/10D.png" alt="" />
                        <img class="card" src="cards/10H.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">or above</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/AS.png" alt="" />
                        <img class="card" src="cards/QH.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">&nbsp;</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/AS.png" alt="" />
                        <img class="card" src="cards/KD.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">&nbsp;</div>
                </div>
            </div>
        </div>

        <div class="action-section">
            <div class="action-section-title">Call with</div>
            <div class="action-section-row">
                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/7D.png" alt="" />
                        <img class="card" src="cards/7H.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">or above</div>
                </div>

                <div class="cards-duo-wrapper">
                    <div class="cards-duo">
                        <img class="card" src="cards/4D.png" alt="" />
                        <img class="card" src="cards/5D.png" alt="" />
                    </div>
                    <div class="cards-duo-appendix">suited connectors</div>
                </div>
            </div>
        </div>
    </div>
</div>