<div id="main">
    <h1 class="row">Poker hands to play (V2)</h1>

    <div class="row main-section">
        <h2>High pairs</h2>
    </div>

    <table>
        <tr>
            <th>Your cards</th>
            <th>Precedent action</th>
            <th>Early</th>
            <th>Mid</th>
            <th>Late</th>
            <th>Blinds</th>
        </tr>
        <tr>
            <td rowspan="3">
                <div class="cards-range">
                    <img class="card" src="cards/AC.png" alt="AC" />
                    <img class="card" src="cards/AD.png" alt="AD" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/KC.png" alt="KC" />
                    <img class="card" src="cards/KD.png" alt="KD" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/QC.png" alt="QC" />
                    <img class="card" src="cards/QD.png" alt="QD" />
                </div>
            </td>
            <td>everyone has folded</td>
            <td colspan="4">Raise</td>
        </tr>
        <tr>
            <td>someone has called</td>
            <td colspan="4">Raise</td>
        </tr>
        <tr>
            <td>someone has raised</td>
            <td colspan="4">Raise</td>
        </tr>
    </table>



    <div class="row main-section">
        <h2>Mid pairs</h2>
    </div>

    <table>
        <tr>
            <th>Your cards</th>
            <th>Precedent action</th>
            <th>Early</th>
            <th>Mid</th>
            <th>Late</th>
            <th>Blinds</th>
        </tr>
        <tr>
            <td rowspan="3">
                <div class="cards-range">
                    <img class="card" src="cards/JC.png" alt="JC" />
                    <img class="card" src="cards/JD.png" alt="JD" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/10C.png" alt="10C" />
                    <img class="card" src="cards/10D.png" alt="10D" />
                </div>
            </td>
            <td>everyone has folded</td>
            <td colspan="4">Raise</td>
        </tr>
        <tr>
            <td>someone has called</td>
            <td colspan="4">Raise</td>
        </tr>
        <tr>
            <td>someone has raised</td>
            <td colspan="4">Call</td>
        </tr>
    </table>



    <div class="row main-section">
        <h2>Low pairs</h2>
    </div>

    <table>
        <tr>
            <th>Your cards</th>
            <th>Precedent action</th>
            <th>Early</th>
            <th>Mid</th>
            <th>Late</th>
            <th>Blinds</th>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/9C.png" alt="9C" />
                    <img class="card" src="cards/9D.png" alt="9D" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/5C.png" alt="8C" />
                    <img class="card" src="cards/8D.png" alt="7D" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/7C.png" alt="7C" />
                    <img class="card" src="cards/7D.png" alt="7D" />
                </div>
            </td>
            <td>everyone has folded</td>
            <td>Fold</td>
            <td>Call</td>
            <td>Raise</td>
            <td>Call</td>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/6C.png" alt="6C" />
                    <img class="card" src="cards/6D.png" alt="6D" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/5C.png" alt="5C" />
                    <img class="card" src="cards/5D.png" alt="5D" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/4C.png" alt="4C" />
                    <img class="card" src="cards/4D.png" alt="4D" />
                </div>
            </td>
            <td>someone has called</td>
            <td>Fold</td>
            <td colspan="3">Call</td>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/3C.png" alt="3C" />
                    <img class="card" src="cards/3D.png" alt="3D" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/2C.png" alt="2C" />
                    <img class="card" src="cards/2D.png" alt="2D" />
                </div>
            </td>
            <td>someone has raised</td>
            <td colspan="4">Call</td>
        </tr>
    </table>



    <div class="row main-section">
        <h2>High aces</h2>
    </div>

    <table>
        <tr>
            <th>Your cards</th>
            <th>Precedent action</th>
            <th>Early</th>
            <th>Mid</th>
            <th>Late</th>
            <th>Blinds</th>
        </tr>
        <tr>
            <td rowspan="3">
                <div class="cards-range">
                    <img class="card" src="cards/AC.png" alt="AC" />
                    <img class="card" src="cards/KD.png" alt="KD" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/AH.png" alt="AH" />
                    <img class="card" src="cards/KH.png" alt="KH" />
                </div>
            </td>
            <td>everyone has folded</td>
            <td colspan="4">Raise</td>
        </tr>
        <tr>
            <td>someone has called</td>
            <td colspan="4">Raise</td>
        </tr>
        <tr>
            <td>someone has raised</td>
            <td colspan="4">Raise</td>
        </tr>
    </table>



    <div class="row main-section">
        <h2>Mid aces</h2>
    </div>

    <table>
        <tr>
            <th>Your cards</th>
            <th>Precedent action</th>
            <th>Early</th>
            <th>Mid</th>
            <th>Late</th>
            <th>Blinds</th>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/AC.png" alt="AC" />
                    <img class="card" src="cards/QD.png" alt="QD" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/AH.png" alt="AH" />
                    <img class="card" src="cards/QH.png" alt="QH" />
                </div>
            </td>
            <td>everyone has folded</td>
            <td>Fold</td>
            <td colspan="3">Raise</td>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/AC.png" alt="AC" />
                    <img class="card" src="cards/JD.png" alt="JD" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/AH.png" alt="AH" />
                    <img class="card" src="cards/JH.png" alt="JH" />
                </div>
            </td>
            <td>someone has called</td>
            <td colspan="2">Fold</td>
            <td>Raise</td>
            <td>Call</td>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/AC.png" alt="AC" />
                    <img class="card" src="cards/10D.png" alt="10D" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/AH.png" alt="AH" />
                    <img class="card" src="cards/10H.png" alt="10H" />
                </div>
            </td>
            <td>someone has raised</td>
            <td colspan="4">Fold</td>
        </tr>
    </table>



    <div class="row main-section">
        <h2>Low aces</h2>
    </div>

    <table>
        <tr>
            <th>Your cards</th>
            <th>Precedent action</th>
            <th>Early</th>
            <th>Mid</th>
            <th>Late</th>
            <th>Blinds</th>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/AH.png" alt="AH" />
                    <img class="card" src="cards/9H.png" alt="9H" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/AS.png" alt="AS" />
                    <img class="card" src="cards/8S.png" alt="8S" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/AC.png" alt="AC" />
                    <img class="card" src="cards/7C.png" alt="7C" />
                </div>
            </td>
            <td>everyone has folded</td>
            <td colspan="2">Fold</td>
            <td colspan="2">Raise</td>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/AH.png" alt="AH" />
                    <img class="card" src="cards/6H.png" alt="6H" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/AS.png" alt="AS" />
                    <img class="card" src="cards/5S.png" alt="5S" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/AC.png" alt="AC" />
                    <img class="card" src="cards/4C.png" alt="4C" />
                </div>
            </td>
            <td>someone has called</td>
            <td colspan="2">Fold</td>
            <td colspan="2">Call</td>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/AH.png" alt="AH" />
                    <img class="card" src="cards/3H.png" alt="3H" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/AS.png" alt="AS" />
                    <img class="card" src="cards/2S.png" alt="2S" />
                </div>
            </td>
            <td>someone has raised</td>
            <td colspan="4">Fold</td>
        </tr>
    </table>



    <div class="row main-section">
        <h2>T and higher (suited)</h2>
    </div>

    <table>
        <tr>
            <th>Your cards</th>
            <th>Precedent action</th>
            <th>Early</th>
            <th>Mid</th>
            <th>Late</th>
            <th>Blinds</th>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/KH.png" alt="KH" />
                    <img class="card" src="cards/QH.png" alt="QH" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/KS.png" alt="KS" />
                    <img class="card" src="cards/JS.png" alt="JS" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/KC.png" alt="KC" />
                    <img class="card" src="cards/10C.png" alt="10C" />
                </div>
            </td>
            <td>everyone has folded</td>
            <td colspan="2">Fold</td>
            <td colspan="2">Raise</td>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/QH.png" alt="QH" />
                    <img class="card" src="cards/JH.png" alt="JH" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/QS.png" alt="QS" />
                    <img class="card" src="cards/10S.png" alt="10S" />
                </div>
            </td>
            <td>someone has called</td>
            <td colspan="1">Fold</td>
            <td colspan="3">Call</td>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/JH.png" alt="JH" />
                    <img class="card" src="cards/10H.png" alt="10H" />
                </div>
            </td>
            <td>someone has raised</td>
            <td colspan="4">Fold</td>
        </tr>
    </table>



    <div class="row main-section">
        <h2>T and higher (off suited)</h2>
    </div>

    <table>
        <tr>
            <th>Your cards</th>
            <th>Precedent action</th>
            <th>Early</th>
            <th>Mid</th>
            <th>Late</th>
            <th>Blinds</th>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/KH.png" alt="KH" />
                    <img class="card" src="cards/QS.png" alt="QS" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/KS.png" alt="KS" />
                    <img class="card" src="cards/JD.png" alt="JD" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/KC.png" alt="KC" />
                    <img class="card" src="cards/10S.png" alt="10S" />
                </div>
            </td>
            <td>everyone has folded</td>
            <td colspan="2">Fold</td>
            <td colspan="2">Raise</td>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/QH.png" alt="QH" />
                    <img class="card" src="cards/JS.png" alt="JS" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/QS.png" alt="QS" />
                    <img class="card" src="cards/10D.png" alt="10D" />
                </div>
            </td>
            <td>someone has called</td>
            <td colspan="3">Fold</td>
            <td colspan="1">Call</td>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/JH.png" alt="JH" />
                    <img class="card" src="cards/10C.png" alt="10C" />
                </div>
            </td>
            <td>someone has raised</td>
            <td colspan="4">Fold</td>
        </tr>
    </table>



    <div class="row main-section">
        <h2>Connectors (suited)</h2>
    </div>

    <table>
        <tr>
            <th>Your cards</th>
            <th>Precedent action</th>
            <th>Early</th>
            <th>Mid</th>
            <th>Late</th>
            <th>Blinds</th>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/10H.png" alt="10H" />
                    <img class="card" src="cards/9H.png" alt="9H" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/9S.png" alt="9S" />
                    <img class="card" src="cards/8S.png" alt="8S" />
                </div>
            </td>
            <td>everyone has folded</td>
            <td colspan="2">Fold</td>
            <td>Raise</td>
            <td>Fold</td>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/8H.png" alt="8H" />
                    <img class="card" src="cards/7H.png" alt="7H" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/7S.png" alt="7S" />
                    <img class="card" src="cards/6S.png" alt="6S" />
                </div>
            </td>
            <td>someone has called</td>
            <td colspan="1">Fold</td>
            <td colspan="1">Call</td>
        </tr>
        <tr>
            <td>
                <div class="cards-range">
                    <img class="card" src="cards/6H.png" alt="6H" />
                    <img class="card" src="cards/5H.png" alt="5H" />
                    <div class="cards-spacer">&nbsp;</div>
                    <img class="card" src="cards/5S.png" alt="5S" />
                    <img class="card" src="cards/4S.png" alt="4S" />
                </div>
            </td>
            <td>someone has raised</td>
            <td colspan="4">Fold</td>
        </tr>
    </table>

    
</div>